html {
    overflow-x: hidden;
}

.navbar {
    background-color: #B5D1FC;
}

.container-fluid {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid .navbar-brand {
    font-weight: 700;
}

.container-fluid .collapse .navbar-nav {
    font-weight: 500;
}

/* .home{
    background-image: url(./img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
} */

.text-home {
    color: #049289;
}

.text-home h1 {
    font-size: 3.5rem;
    text-shadow: 4px 4px 8px rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;

}

.carousel .wa {
    bottom: 40px;
    right: 50px;
}

.container .col h1 {
    color: #049289;
    font-family: 'Montserrat', sans-serif;
}

.container .col p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
}

.card a {
    color: black;
    text-decoration: none;
}

#div_kost {
    display: none;
}

#div_rumah {
    display: none;
}

#div_kantor {
    display: none;
}

#div_caffe {
    display: none;
}

#div_outsourcing {
    display: none;
}

.galeri {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #80B3FF;
    padding: 40px;
}

.galeri .kolom-galeri {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 20px;
    margin-top: 20px;
}

.galeri .kolom-galeri .kolom-1,
.galeri .kolom-galeri .kolom-2,
.galeri .kolom-galeri .kolom-3,
.galeri .kolom-galeri .kolom-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review .komen-container {
    border: solid black 2px;
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
}

.review .komen-container .komen-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.review .komen-container .komen-top .profile {
    display: flex;
    flex-direction: row;
}

.review .komen-container .komen-top .profile .profile-img img {
    border-radius: 50%;
    width: 100%;
    height: 50%;
    margin-top: 30px;
}

.review .komen-container .komen-top .profile .profile-name {
    margin-top: 40px;
    margin-left: 30px;
}

.review .komen-container .komen-top .bintang {
    color: #ffd102;
}

.formulir {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #80B3FF;
    padding: 40px;
}

.formulir .form-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    margin-top: 40px;
    gap: 30px;
}

.formulir .form-container .form-kanan img {
    border-radius: 5%;
}

.kontak {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 120px;
}

.kontak .kontak-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.kontak .kontak-container .kontak-data {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.kontak .kontak-container .kontak-data h2 {
    color: #049289;
}

.kontak .kontak-container .kontak-data .info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.kontak .kontak-container .kontak-data .info .info-kiri {
    padding-right: 20px;
}

.kontak .kontak-container .kontak-data .info h5 {
    color: #049289;
}

footer {
    background-color: #B5D1FC;
    padding: 10px;
    color: #049289;
}

.layanan h1 {
    color: #049289;
}

.galeri h1 {
    color: #ffffff;
}